.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.py-base {
  padding-block: var(--py-base);
}

.px-base {
  padding-inline: var(--px-base);
}

.flex {
  display: flex;
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .container {
    max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}